$black: #121212;
$secondary-black: #1a1a1a;

$primary-grey: rgb(43, 43, 43);
$grey: #333333;

$white: rgb(226, 226, 226);

$green: rgb(185, 253, 158);

$primary: #bb86fc;

$yellow: rgb(238, 247, 120);

$link-hover-black: rgb(34, 34, 34);
$background-black: #171717;
$error: #cf6679;
$red: #b00020;
$option: rgb(122, 122, 122);
