$typing-users: rgb(179, 179, 179);

.typing-users {
    color: $typing-users;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: 15px;
    justify-content: center;

    &__users {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__postfix {
        white-space: nowrap;
    }
}